bin/
obj/
packages/
package/
node_modules/
Backup/
built/
_ReSharper.NodeAssets/
_UpgradeReport_Files/
_NCrunch_NodeAssets/
TestResults/
UpgradeLog.XML
*.suo
*.ncrunchproject
*.ncrunchsolution